node-red-program.json
[
  {
    "id": "d5654672044e2863",
    "type": "tab",
    "label": "Flow 4",
    "disabled": false,
    "info": "",
    "env": []
  },
  {
    "id": "7d37c92e0c0b5a5b",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/acceleration",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 140,
    "wires": [["50e6e04637894ff3"]]
  },
  {
    "id": "b6a6d6cd38c1afcc",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 140,
    "wires": [["7d37c92e0c0b5a5b"]]
  },
  {
    "id": "e518d78a9a5f7063",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/speed_factor",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 200,
    "wires": [["12801a5fe2f02030"]]
  },
  {
    "id": "d9d0b3e959047df4",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/0",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 280,
    "wires": [["b66435dd5bc96ae9"]]
  },
  {
    "id": "6a3f3af1c70c7b6c",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 1,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "OUTPUT 0",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 890,
    "y": 280,
    "wires": []
  },
  {
    "id": "b6cc51ca3a2fefb8",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 200,
    "wires": [["e518d78a9a5f7063"]]
  },
  {
    "id": "f877352dc4fc4a26",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 280,
    "wires": [["d9d0b3e959047df4"]]
  },
  {
    "id": "50e6e04637894ff3",
    "type": "ui_text",
    "z": "d5654672044e2863",
    "group": "3ead7e0a085481e5",
    "order": 2,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Current acceleration",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "style": true,
    "font": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
    "fontSize": 16,
    "color": "#000000",
    "x": 720,
    "y": 140,
    "wires": []
  },
  {
    "id": "12801a5fe2f02030",
    "type": "ui_text",
    "z": "d5654672044e2863",
    "group": "3ead7e0a085481e5",
    "order": 1,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "Current speed factor",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "style": true,
    "font": "Century Gothic,CenturyGothic,AppleGothic,sans-serif",
    "fontSize": 16,
    "color": "#000000",
    "x": 720,
    "y": 200,
    "wires": []
  },
  {
    "id": "b66435dd5bc96ae9",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 14",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 280,
    "wires": [["6a3f3af1c70c7b6c"]]
  },
  {
    "id": "2c71f8777066f2f5",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 340,
    "wires": [["1010caf7a78e2e1f"]]
  },
  {
    "id": "0c98b2fc781904d6",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 3,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "OUTPUT 1",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 890,
    "y": 340,
    "wires": []
  },
  {
    "id": "475cb0864a18faaa",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 340,
    "wires": [["2c71f8777066f2f5"]]
  },
  {
    "id": "1010caf7a78e2e1f",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 15",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 340,
    "wires": [["0c98b2fc781904d6"]]
  },
  {
    "id": "842d6658e6c99f7d",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 400,
    "wires": [["f32878adf79d9e22"]]
  },
  {
    "id": "60603912ed3ddb4f",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 5,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "OUTPUT 2",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 890,
    "y": 400,
    "wires": []
  },
  {
    "id": "9dfb64d0809e8617",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 400,
    "wires": [["842d6658e6c99f7d"]]
  },
  {
    "id": "f32878adf79d9e22",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 16",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 400,
    "wires": [["60603912ed3ddb4f"]]
  },
  {
    "id": "eece972b48998e78",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/3",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 460,
    "wires": [["9d32b159f9aa014e"]]
  },
  {
    "id": "924ebe2233a611bd",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 7,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "OUTPUT 3",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 890,
    "y": 460,
    "wires": []
  },
  {
    "id": "ebffe214d4ede80f",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 460,
    "wires": [["eece972b48998e78"]]
  },
  {
    "id": "9d32b159f9aa014e",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 17",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 460,
    "wires": [["924ebe2233a611bd"]]
  },
  {
    "id": "dc9726c76a4120f4",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/4",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 520,
    "wires": [["25aeaa37cd0378dc"]]
  },
  {
    "id": "121ad9598a51c870",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 9,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "OUTPUT 4",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 890,
    "y": 520,
    "wires": []
  },
  {
    "id": "824bab5a9a65933e",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 520,
    "wires": [["dc9726c76a4120f4"]]
  },
  {
    "id": "25aeaa37cd0378dc",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 18",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 520,
    "wires": [["121ad9598a51c870"]]
  },
  {
    "id": "d1ab0eeb24031148",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/5",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 580,
    "wires": [["f477e1816494a104"]]
  },
  {
    "id": "e33d6b4cc84dd12c",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 11,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "OUTPUT 5",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 890,
    "y": 580,
    "wires": []
  },
  {
    "id": "f52e2228c72dd2ce",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 580,
    "wires": [["d1ab0eeb24031148"]]
  },
  {
    "id": "f477e1816494a104",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 19",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 580,
    "wires": [["e33d6b4cc84dd12c"]]
  },
  {
    "id": "7d3b06450bed5802",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/6",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 640,
    "wires": [["de123188687bec5b"]]
  },
  {
    "id": "5d2a662ae68c0acb",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 13,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "OUTPUT 6",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 890,
    "y": 640,
    "wires": []
  },
  {
    "id": "43338abf4c3aa96c",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 640,
    "wires": [["7d3b06450bed5802"]]
  },
  {
    "id": "de123188687bec5b",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 20",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 640,
    "wires": [["5d2a662ae68c0acb"]]
  },
  {
    "id": "4e3fae3ce02f82dc",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/7",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 450,
    "y": 700,
    "wires": [["59b6c0a41ea4f7ea"]]
  },
  {
    "id": "b4200cadca263370",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 15,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "OUTPUT 7",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 890,
    "y": 700,
    "wires": []
  },
  {
    "id": "f06d1c8a69876711",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 230,
    "y": 700,
    "wires": [["4e3fae3ce02f82dc"]]
  },
  {
    "id": "59b6c0a41ea4f7ea",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 21",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 670,
    "y": 700,
    "wires": [["b4200cadca263370"]]
  },
  {
    "id": "2684f68dc96a9802",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/0",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 280,
    "wires": [["35634db8a68fc15a"]]
  },
  {
    "id": "6127abf46cfdf426",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 2,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "INPUTS 0",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 1710,
    "y": 280,
    "wires": []
  },
  {
    "id": "c2b39a9180e88df8",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 1050,
    "y": 280,
    "wires": [["2684f68dc96a9802"]]
  },
  {
    "id": "35634db8a68fc15a",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 22",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 280,
    "wires": [["6127abf46cfdf426"]]
  },
  {
    "id": "1b14b1058f838e4f",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 340,
    "wires": [["673324caef71bb7f"]]
  },
  {
    "id": "491e1df0b33c90b5",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 4,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "INPUTS 1",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 1710,
    "y": 340,
    "wires": []
  },
  {
    "id": "c847828a52cc31ad",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 1050,
    "y": 340,
    "wires": [["1b14b1058f838e4f"]]
  },
  {
    "id": "673324caef71bb7f",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 23",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 340,
    "wires": [["491e1df0b33c90b5"]]
  },
  {
    "id": "5180134b289728b0",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 400,
    "wires": [["f99d01e57ef8fc81"]]
  },
  {
    "id": "54850fa00fddcd6c",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 6,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "INPUTS 2",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 1710,
    "y": 400,
    "wires": []
  },
  {
    "id": "d90817b95576b353",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 1050,
    "y": 400,
    "wires": [["5180134b289728b0"]]
  },
  {
    "id": "f99d01e57ef8fc81",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 24",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 400,
    "wires": [["54850fa00fddcd6c"]]
  },
  {
    "id": "fe54f8bd2bd05235",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/3",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 460,
    "wires": [["d781771c89bfac9b"]]
  },
  {
    "id": "8b71e0ca9f03439d",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 8,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "INPUTS 3",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 1710,
    "y": 460,
    "wires": []
  },
  {
    "id": "ee18418f0176bd5d",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 1050,
    "y": 460,
    "wires": [["fe54f8bd2bd05235"]]
  },
  {
    "id": "d781771c89bfac9b",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 25",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 460,
    "wires": [["8b71e0ca9f03439d"]]
  },
  {
    "id": "15764745744fddc1",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/4",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 520,
    "wires": [["6eb6852d563e097d"]]
  },
  {
    "id": "aac8723910202a22",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 10,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "INPUTS 4",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 1710,
    "y": 520,
    "wires": []
  },
  {
    "id": "8eb96c9217931e95",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 1050,
    "y": 520,
    "wires": [["15764745744fddc1"]]
  },
  {
    "id": "6eb6852d563e097d",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 26",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 520,
    "wires": [["aac8723910202a22"]]
  },
  {
    "id": "1e6a1371bae36108",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/5",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 580,
    "wires": [["513c0c0b19f033f7"]]
  },
  {
    "id": "6d58550d07fd48f4",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 12,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "INPUTS 5",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 1710,
    "y": 580,
    "wires": []
  },
  {
    "id": "48b87df82ca5061e",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 1050,
    "y": 580,
    "wires": [["1e6a1371bae36108"]]
  },
  {
    "id": "513c0c0b19f033f7",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 27",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 580,
    "wires": [["6d58550d07fd48f4"]]
  },
  {
    "id": "2245fee113cfe526",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/6",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 640,
    "wires": [["bdf9f2e3deae9c91"]]
  },
  {
    "id": "5d877deed9da2032",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 14,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "INPUTS 6",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 1710,
    "y": 640,
    "wires": []
  },
  {
    "id": "50f9fad95273b848",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 1050,
    "y": 640,
    "wires": [["2245fee113cfe526"]]
  },
  {
    "id": "bdf9f2e3deae9c91",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 28",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 640,
    "wires": [["5d877deed9da2032"]]
  },
  {
    "id": "e93e6bd9136bbabd",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "GET",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/7",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 1270,
    "y": 700,
    "wires": [["ec8d634756846cf0"]]
  },
  {
    "id": "52667d2b704aaa7e",
    "type": "ui_led",
    "z": "d5654672044e2863",
    "order": 16,
    "group": "e17d6dc805e844d8",
    "width": 6,
    "height": 1,
    "label": "INPUTS 7",
    "labelPlacement": "left",
    "labelAlignment": "left",
    "colorForValue": [
      {
        "color": "#00ff00",
        "value": "true",
        "valueType": "str"
      },
      {
        "color": "#ff0000",
        "value": "false",
        "valueType": "str"
      }
    ],
    "allowColorForValueInMessage": false,
    "shape": "circle",
    "showGlow": true,
    "name": "",
    "x": 1710,
    "y": 700,
    "wires": []
  },
  {
    "id": "138b111e743c2075",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [],
    "repeat": "3",
    "crontab": "",
    "once": false,
    "onceDelay": "1",
    "topic": "",
    "x": 1050,
    "y": 700,
    "wires": [["e93e6bd9136bbabd"]]
  },
  {
    "id": "ec8d634756846cf0",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 29",
    "func": "if(msg.payload.includes('false'))\n{\n    msg.payload = \"false\";\n}else{\n    msg.payload = \"true\";\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 1490,
    "y": 700,
    "wires": [["52667d2b704aaa7e"]]
  },
  {
    "id": "09667747d8cdf598",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 2,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "OUTPUT 0",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 800,
    "wires": [["1b8eb17a56440b36"]]
  },
  {
    "id": "1b8eb17a56440b36",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/0",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 800,
    "wires": [[]]
  },
  {
    "id": "eb643d898460208e",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 4,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "OUTPUT 1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 860,
    "wires": [["1642be2ec86fde5a"]]
  },
  {
    "id": "1642be2ec86fde5a",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 860,
    "wires": [[]]
  },
  {
    "id": "66c5b99ce5d1dd5e",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 6,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "OUTPUT 2",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 920,
    "wires": [["b66c97de0333552b"]]
  },
  {
    "id": "b66c97de0333552b",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 920,
    "wires": [[]]
  },
  {
    "id": "7c94603311642ff8",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 8,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "OUTPUT 3",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 980,
    "wires": [["38036cfe87d16d4d"]]
  },
  {
    "id": "38036cfe87d16d4d",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/3",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 980,
    "wires": [[]]
  },
  {
    "id": "69ae93bb82f23cb5",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 10,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "OUTPUT 4",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 1040,
    "wires": [["ad9b9775613a3e32"]]
  },
  {
    "id": "ad9b9775613a3e32",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/4",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 1040,
    "wires": [[]]
  },
  {
    "id": "4e53a5fe9daa3696",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 12,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "OUTPUT 5",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 1100,
    "wires": [["3c4f7385ab8ad297"]]
  },
  {
    "id": "3c4f7385ab8ad297",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/5",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 1100,
    "wires": [[]]
  },
  {
    "id": "e3c54cf3b5f220fd",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 14,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "OUTPUT 6",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 1160,
    "wires": [["fea79b24c5b56f99"]]
  },
  {
    "id": "fea79b24c5b56f99",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/6",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 1160,
    "wires": [[]]
  },
  {
    "id": "68ead0286e7b0755",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 16,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "OUTPUT 7",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 610,
    "y": 1220,
    "wires": [["0bb033aaa9e7384c"]]
  },
  {
    "id": "0bb033aaa9e7384c",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/outputs/7",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 790,
    "y": 1220,
    "wires": [[]]
  },
  {
    "id": "86a808d76af139cf",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 1,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "INPUT 0",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 220,
    "y": 800,
    "wires": [["d627c7a6ac44ef18"]]
  },
  {
    "id": "d627c7a6ac44ef18",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/0",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 410,
    "y": 800,
    "wires": [[]]
  },
  {
    "id": "014c56d11d65487f",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 3,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "INPUT 1",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 220,
    "y": 860,
    "wires": [["320f91896522b308"]]
  },
  {
    "id": "320f91896522b308",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/1",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 410,
    "y": 860,
    "wires": [[]]
  },
  {
    "id": "dae296db6ef503bb",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 5,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "INPUT 2",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 220,
    "y": 920,
    "wires": [["32adfdd39e395deb"]]
  },
  {
    "id": "32adfdd39e395deb",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/2",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 410,
    "y": 920,
    "wires": [[]]
  },
  {
    "id": "a4312ba7106e8f75",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 7,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "INPUT 3",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 220,
    "y": 980,
    "wires": [["af398ed92084de71"]]
  },
  {
    "id": "af398ed92084de71",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/3",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 410,
    "y": 980,
    "wires": [[]]
  },
  {
    "id": "2e1edea362ca5af4",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 9,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "INPUT 4",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 220,
    "y": 1040,
    "wires": [["cb8d69988ce893ef"]]
  },
  {
    "id": "cb8d69988ce893ef",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/4",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 410,
    "y": 1040,
    "wires": [[]]
  },
  {
    "id": "42029795ea3b1219",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 11,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "INPUT 5",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 220,
    "y": 1100,
    "wires": [["8b84226ebc1bb404"]]
  },
  {
    "id": "8b84226ebc1bb404",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/5",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 410,
    "y": 1100,
    "wires": [[]]
  },
  {
    "id": "37e181c353903387",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 13,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "INPUT 6",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 220,
    "y": 1160,
    "wires": [["19bf618bcdc15896"]]
  },
  {
    "id": "19bf618bcdc15896",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/6",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 410,
    "y": 1160,
    "wires": [[]]
  },
  {
    "id": "943e31801c66044b",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "2cfe529a9d40e86e",
    "order": 15,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "INPUT 7",
    "tooltip": "",
    "color": "",
    "bgcolor": "",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 220,
    "y": 1220,
    "wires": [["0d0fd63c56818602"]]
  },
  {
    "id": "0d0fd63c56818602",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/inputs/7",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 410,
    "y": 1220,
    "wires": [[]]
  },
  {
    "id": "b669c68ea3696b3c",
    "type": "ui_slider",
    "z": "d5654672044e2863",
    "name": "",
    "label": "speed factor",
    "tooltip": "",
    "group": "805bdf711a262867",
    "order": 1,
    "width": 0,
    "height": 0,
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "100",
    "step": 1,
    "className": "",
    "x": 270,
    "y": 1360,
    "wires": [["f6eafe33c09e5a17"]]
  },
  {
    "id": "c3a9a20ba5034368",
    "type": "ui_slider",
    "z": "d5654672044e2863",
    "name": "",
    "label": "Acceleration",
    "tooltip": "",
    "group": "805bdf711a262867",
    "order": 2,
    "width": 0,
    "height": 0,
    "passthru": false,
    "outs": "end",
    "topic": "topic",
    "topicType": "msg",
    "min": 0,
    "max": "200",
    "step": 1,
    "className": "",
    "x": 270,
    "y": 1520,
    "wires": [["31b1eedbc76bd8f9"]]
  },
  {
    "id": "84e0fd81f17d183e",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/speed_factor",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 650,
    "y": 1420,
    "wires": [[]]
  },
  {
    "id": "cdd56bf5a03af878",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "805bdf711a262867",
    "order": 5,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Mudar acceleration",
    "tooltip": "",
    "color": "black",
    "bgcolor": "#CCE5FF",
    "className": "",
    "icon": "",
    "payload": "teste",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 290,
    "y": 1580,
    "wires": [["f192be9c9aee4889"]]
  },
  {
    "id": "034e86b1ee46ad79",
    "type": "http request",
    "z": "d5654672044e2863",
    "name": "",
    "method": "POST",
    "ret": "txt",
    "paytoqs": "ignore",
    "url": "http://127.0.0.1:5000/acceleration",
    "tls": "",
    "persist": false,
    "proxy": "",
    "insecureHTTPParser": false,
    "authType": "",
    "senderr": false,
    "headers": [],
    "x": 690,
    "y": 1580,
    "wires": [[]]
  },
  {
    "id": "191511786a7692bf",
    "type": "inject",
    "z": "d5654672044e2863",
    "name": "",
    "props": [
      {
        "p": "payload"
      },
      {
        "p": "topic",
        "vt": "str"
      }
    ],
    "repeat": "",
    "crontab": "",
    "once": false,
    "onceDelay": 0.1,
    "topic": "",
    "payload": "",
    "payloadType": "date",
    "x": 60,
    "y": 1100,
    "wires": [[]]
  },
  {
    "id": "31b1eedbc76bd8f9",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 30",
    "func": "global.set(\"acceleration\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 1520,
    "wires": [[]]
  },
  {
    "id": "f192be9c9aee4889",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 31",
    "func": "const acceleration = global.get(\"acceleration\");\n\nmsg.payload = {\n    value: acceleration\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 490,
    "y": 1580,
    "wires": [["034e86b1ee46ad79"]]
  },
  {
    "id": "fc3cf1500edc2de1",
    "type": "ui_button",
    "z": "d5654672044e2863",
    "name": "",
    "group": "805bdf711a262867",
    "order": 6,
    "width": 4,
    "height": 1,
    "passthru": false,
    "label": "Speed factor",
    "tooltip": "",
    "color": "black",
    "bgcolor": "#FFFFCC",
    "className": "",
    "icon": "",
    "payload": "",
    "payloadType": "str",
    "topic": "topic",
    "topicType": "msg",
    "x": 270,
    "y": 1420,
    "wires": [["560d798df436b176"]]
  },
  {
    "id": "560d798df436b176",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 32",
    "func": "const speedFactor = global.get(\"speedFactor\");\n\nmsg.payload = {\n    value: speedFactor\n}\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 1420,
    "wires": [["84e0fd81f17d183e"]]
  },
  {
    "id": "f6eafe33c09e5a17",
    "type": "function",
    "z": "d5654672044e2863",
    "name": "function 33",
    "func": "global.set(\"speedFactor\", msg.payload);\n\nreturn msg;",
    "outputs": 1,
    "timeout": 0,
    "noerr": 0,
    "initialize": "",
    "finalize": "",
    "libs": [],
    "x": 470,
    "y": 1360,
    "wires": [[]]
  },
  {
    "id": "0d82bb2275d88d2d",
    "type": "ui_text",
    "z": "d5654672044e2863",
    "d": true,
    "group": "805bdf711a262867",
    "order": 3,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "speed factor",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 650,
    "y": 1360,
    "wires": []
  },
  {
    "id": "57e374592ca1b470",
    "type": "ui_text",
    "z": "d5654672044e2863",
    "d": true,
    "group": "805bdf711a262867",
    "order": 4,
    "width": 0,
    "height": 0,
    "name": "",
    "label": "acceleration",
    "format": "{{msg.payload}}",
    "layout": "col-center",
    "className": "",
    "style": false,
    "font": "",
    "fontSize": 16,
    "color": "#000000",
    "x": 690,
    "y": 1520,
    "wires": []
  },
  {
    "id": "e17d6dc805e844d8",
    "type": "ui_group",
    "name": "INPUT OUTPUTS",
    "tab": "302d4629ecbe6d78",
    "order": 1,
    "disp": true,
    "width": 12,
    "collapse": false,
    "className": ""
  },
  {
    "id": "3ead7e0a085481e5",
    "type": "ui_group",
    "name": "SPEED FACTOR ACC",
    "tab": "302d4629ecbe6d78",
    "order": 2,
    "disp": true,
    "width": "6",
    "collapse": false,
    "className": ""
  },
  {
    "id": "2cfe529a9d40e86e",
    "type": "ui_group",
    "name": "WRITE BOOLEANS",
    "tab": "302d4629ecbe6d78",
    "order": 3,
    "disp": true,
    "width": 8,
    "collapse": false,
    "className": ""
  },
  {
    "id": "805bdf711a262867",
    "type": "ui_group",
    "name": "SPEED FACTOR AND ACCELERATION",
    "tab": "302d4629ecbe6d78",
    "order": 4,
    "disp": true,
    "width": 8,
    "collapse": false,
    "className": ""
  },
  {
    "id": "302d4629ecbe6d78",
    "type": "ui_tab",
    "name": "ETHERNET IP READ",
    "icon": "dashboard",
    "order": 1,
    "disabled": false,
    "hidden": false
  }
]
